<h1>Edit Recipe Food</h1>

<div class="container">
  <% if flash[:error].present? %>
    <div>
      <%= flash[:error] %>
    </div>
  <% end %>

 <%= form_with model: @recipe_food, url: recipe_recipe_food_path(@recipe, @recipe_food), method: :patch do |form| %>
    <div>
      <%= form.label :food_id, "Food" %>
      <%= form.collection_select :food_id, @foods, :id, :name, { prompt: "Select new item" } %>
    </div>

    <div>
      <%= form.label :quantity, "Quantity" %>
      <%= form.number_field :quantity %>
    </div>

    <div>
      <%= form.submit "Update Recipe Food" %>
      <%= link_to "Cancel", recipe_path(@recipe) %>
    </div>
  <% end %>
</div>
