<h1 class="new">Add Ingredient to <%= @recipe.name %></h1>

<div class="container">
  <% if flash[:error].present? %>
    <div>
      <%= flash[:error] %>
    </div>
  <% end %>

  <%= form_with scope: :recipe_food, url: recipe_recipe_foods_path do |form| %>
    <div class="form-group">
      <%= form.label :food_id, "Food" %>
      <%= form.collection_select :food_id, @foods, :id, :name, { prompt: "Select food item" }, class: "input" %>
    </div>

    <div>
      <%= form.label :quantity, "Quantity" %>
      <%= form.number_field :quantity , class: "input" %>
    </div>

    <div class="form-group">
      <%= form.submit "Add Ingredient" , class: "submit-btn-edit"%>
      <%= link_to "Cancel", recipe_path(@recipe), class: "submit-btn-edit" %>
    </div>
  <% end %>
</div>
